<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn NodeJS Basic</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/upload">Upload file</a>
    </div>
      
    <div class="upload-file-container">
        <form method="POST" action="/upload-file-pic" enctype="multipart/form-data">
            <div>
                <label>Single file:</label>
                <input type="file" name="fileupload_pic"/>
            </div>

            <div>
                <button class="btn-save" type="submit">Save files</button>
            </div>
        </form>

        <form method="POST" action="/upload-multiple-files-pic" enctype="multipart/form-data">
            <div>
                <label>Multiple files:</label>
                <input type="file" name="multiple_fileupload_pic" multiple/>
            </div>

            <div>
                <button class="btn-save" type="submit">Save files</button>
            </div>
        </form>
    </div>
      
    <!--<h1>hello world from EJS</h1>-->
    <!--<img src="/image/wppdesktop.jpg">-->
</body>
</html>